body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(21, 192, 235);
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 500px;
    margin: 50px auto;
    background-color: transparent;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0px 0px 10px rgba(69, 59, 59, 0.1);
  }
  
  h2 {
    margin-top: 0;
    color: #000000;
  }
  
  input[type="number"], select {
    margin: 10px;
    padding: 10px;
    width: calc(100% - 20px);
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #result {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 4px;
  }
 
